table{

border-collapse: collapse; height: 800px; width: 1500px;
}

img{

}

td, th{

    border: 1px solid black;
    text-align: center;
}

/* AS ID */

#GTAV{
 font-size: x-large;height: 30px; color: aliceblue;
 background-color:black;
 font-family: pricedow;
 
}

#GODOFWAR2{
    font-size: x-large; color:orange;
    background-color: gray
}

#VALORANT{
    font-size: x-large; color:red;
 background-color:navy
}

#CS2{
    font-size: x-large; color:rgb(230, 140, 30);
 background-color:silver
}
#MK3{
    font-size: x-large; color: rgb(62, 66, 69);
 background-color:black
}

#NW{
    font-size: x-large; color:rgb(248, 55, 6);
 background-color:silver
}
#HALO{
    font-size: x-large; color:rgb(15, 193, 15);
 background-color:aqua
}
#MINECRAFT{
    font-size: x-large; color: green;
 background-color:rgb(94, 49, 49)
}
#BATMAN{
    font-size: x-large; color: rgb(6, 6, 6);
 background-color:rgb(27, 220, 230)
}
#RD2{
    font-size: x-large; color: rgb(3, 3, 2);
 background-color:rgb(255, 5, 5)
}
    
/*AS FONTES*/

@font-face {
    font-family:pricedow;
    src: url(FONTES/pricedow.ttf);
}

@font-face {
    font-family:pricedow;
    src: url(FONTES/pricedow.ttf);
}

@font-face {
    font-family:pricedow;
    src: url(FONTES/pricedow.ttf);
}

@font-face {
    font-family:pricedow;
    src: url(FONTES/pricedow.ttf);
}

@font-face {
    font-family:pricedow;
    src: url(FONTES/pricedow.ttf);
}

@font-face {
    font-family:pricedow;
    src: url(FONTES/pricedow.ttf);
}

@font-face {
    font-family:pricedow;
    src: url(FONTES/pricedow.ttf);
}

@font-face {
    font-family:pricedow;
    src: url(FONTES/pricedow.ttf);
}

@font-face {
    font-family:pricedow;
    src: url(FONTES/pricedow.ttf);
}